# Student recommender system using Skills, Interests and Red flags

In [368]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix
import pickle

In [369]:
users = pd.read_csv('data/students_v1.csv', sep=';', encoding='latin-1', on_bad_lines='skip')

In [370]:
users.head(30)

,Student-ID,Skills,Interests,Red-Flags
0,1,"Angular, Spring Boot, Java","Football, Cats, Dogs",Drinking
1,2,"React, NodeJS, ExpressJS, MongoDB","Painting, Drinking,Parties",Sports
2,3,"Power BI, Spark, Haddoop","Sports, Cinema, Morning Person","Drinking,Cats, Dogs, Parties"
3,4,"JavaScript, Angular, JEE, MySQL","Camping, Football, Fast Food",Cats
4,5,"Angular, Spring Boot, MongoDB","Painting, Blogging, Writing",Morning Person
5,6,"NextJS, MongoDB, NodeJS, ExpressJS","Football, Travel, Smooking, Parties","Photographing, Social Media, Dogs"
6,7,"PowerBI, Python, SQL, Machine Learning","Cinema, Blogging, Cats",Drinking
7,8,"Machine Learning, Python","Reading, Art, Dogs",Cats
8,9,"Machine Learning, Python, NoSQL","Yoga, Dance, Drinking, Parties","Dogs, Cats"
9,10,"Machine Learning, Python, NoSQL","Painting, Basketball","Smoking, Drinking"
10,11,"Machine Learning, Python, Django","Cinema, Blogging, Photographing, Parties",Smoking
11,12,"Angular, Spring Boot, MongoDB","Football, Photographing","Drinking, Smoking"
12,13,"Data Science, PowerBI, PowerAUTOMATE, PowerAPP","Reading, Sports","Drinking, Smoking"
13,14,"Data Science, Spark, Haddoop","Music, Travel, Social Media, Parties",Morning Person
14,15,"DevOps, Testing, Cloud","Football, Swimming","Smoking, Drinking"
15,16,"DevOps, Security, Automation","Camping, Football",Morning Person
16,17,"DevOps, Machine Learning, Automation","Painting, Writing",Morning Person
17,18,"Android Studio, Dev Mobile, Flutter",Football,"Social Media, Photographing"
18,19,"Flutter, Dev Mobile, Xamarin, C#","Writing, Painting, Social Media",Drinking
19,20,"Flutter, MongoDB, Ionic","Fishing, Social Media","Smoking, Parties"
20,21,"Unit Test, Testing, Java","Tennis, Basketball",Drinking
21,22,"Testing, Automation",Tennis,Smoking
22,23,"Cyber Security, Network, Data Analysis, Python","Reading, Art",Parties
23,24,"Cyber Security, Network, Python",Basketball,"Parties, Drinking"
24,25,"Cyber Security, Network, Machine Learning","Painting, Tennis",Parties
25,26,"React, NodeJS, ExpressJS, MongoDB","Writing, Reading, Fast Food",Smoking
26,27,"React, Spring Boot, MongoDB, Java, JavaScript","Dance, Music","Cats, Dogs"
27,28,"React, NodeJS, ExpressJS, PostgreSQL","Music, Travel",Dogs
28,29,"Symfony, PHP, MySQL","Fishing, Tennis","Social Media, Photographing"
29,30,"Symfony, PHP, SQLServer","Music, Cats, Dogs",Social Media

In [371]:
users.columns

Index(['Student-ID', 'Skills', 'Interests', 'Red-Flags'], dtype='object')

In [372]:
users.rename(columns={
    "Student-ID": "student_id",
    "Skills": "skills",
    "Interests": "interests",
    "Red-Flags": "red_flags"
}, inplace=True)

In [373]:
users.head()

,student_id,skills,interests,red_flags
0,1,"Angular, Spring Boot, Java","Football, Cats, Dogs",Drinking
1,2,"React, NodeJS, ExpressJS, MongoDB","Painting, Drinking,Parties",Sports
2,3,"Power BI, Spark, Haddoop","Sports, Cinema, Morning Person","Drinking,Cats, Dogs, Parties"
3,4,"JavaScript, Angular, JEE, MySQL","Camping, Football, Fast Food",Cats
4,5,"Angular, Spring Boot, MongoDB","Painting, Blogging, Writing",Morning Person

In [374]:
users.fillna('', inplace=True)

In [375]:
users.head()

,student_id,skills,interests,red_flags
0,1,"Angular, Spring Boot, Java","Football, Cats, Dogs",Drinking
1,2,"React, NodeJS, ExpressJS, MongoDB","Painting, Drinking,Parties",Sports
2,3,"Power BI, Spark, Haddoop","Sports, Cinema, Morning Person","Drinking,Cats, Dogs, Parties"
3,4,"JavaScript, Angular, JEE, MySQL","Camping, Football, Fast Food",Cats
4,5,"Angular, Spring Boot, MongoDB","Painting, Blogging, Writing",Morning Person

In [376]:
users['skills'] = users['skills'].apply(lambda x: x.split(','))
users['interests'] = users['interests'].apply(lambda x: x.split(','))
users['red_flags'] = users['red_flags'].apply(lambda x: x.split(','))

In [377]:
print(users.sample(3))

    student_id                                   skills  \
5            6  [NextJS,  MongoDB,  NodeJS,  ExpressJS]
2            3             [Power BI,  Spark,  Haddoop]
10          11     [Machine Learning,  Python,  Django]

                                        interests  \
5        [Football,  Travel,  Smooking,  Parties]
2              [Sports,  Cinema,  Morning Person]
10  [Cinema,  Blogging,  Photographing,  Parties]

                                red_flags
5   [Photographing,  Social Media,  Dogs]
2       [Drinking, Cats,  Dogs,  Parties]
10                              [Smoking]

In [378]:
mlb = MultiLabelBinarizer()
skills_onehot = pd.DataFrame(mlb.fit_transform(users['skills']), columns=mlb.classes_)
interests_onehot = pd.DataFrame(mlb.fit_transform(users['interests']), columns=mlb.classes_)
red_flags_onehot = pd.DataFrame(mlb.fit_transform(users['red_flags']), columns=mlb.classes_)

In [379]:
skills_onehot

,Flutter,Angular,Automation,C#,Cloud,Data Analysis,Dev Mobile,Django,ExpressJS,Haddoop,...,Flutter,JavaScript,Machine Learning,NextJS,Power BI,PowerBI,React,Symfony,Testing,Unit Test
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,1,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,1,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
21,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
22,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
27,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [380]:
encoded_features = pd.concat([skills_onehot, interests_onehot, red_flags_onehot], axis=1)

In [381]:
skills_matrix = csr_matrix(encoded_features)

In [382]:
model = NearestNeighbors(algorithm='brute')
model.fit(skills_matrix)

NearestNeighbors(algorithm='brute')

In [383]:
pickle.dump(model, open('artifacts/model.pkl', 'wb'))
pickle.dump(students['student_id'], open('artifacts/students_id.pkl', 'wb'))
pickle.dump(students, open('artifacts/students.pkl', 'wb'))

In [384]:
def recommend_student(student_id):
    if student_id not in users['student_id'].values:
        print(f"Student with ID {student_id} not found.")
        return

    student_index = np.where(users['student_id'] == student_id)[0][0]
    current_student_red_flags = users.loc[student_index, 'red_flags']
    
    # Find red flags to exclude
    exclude_red_flags = set(flag for flag in current_student_red_flags if 
                            (users['interests'].apply(lambda x: flag in x)).sum() >= 3)
    
    # Find students to exclude
    exclude_students = set()
    for index, row in users.iterrows():
        if any(flag in row['interests'] for flag in exclude_red_flags):
            exclude_students.add(row['student_id'])
    
    # Find similar students using the model
    distance, suggestion = model.kneighbors(skills_matrix[student_index, :].reshape(1, -1), n_neighbors=10)
    
    # Print recommended student IDs, excluding those with common red_flags
    for i in range(len(suggestion)):
        similar_students = users['student_id'].iloc[suggestion[i]]
        for j in similar_students:
            if j not in exclude_students:
                print(j)

In [388]:
student_id_to_recommend = 11
recommend_student(student_id_to_recommend)

11
10
7
8
9
22
24
23
12
20